/* Reset margin and padding for all elements */
* {
    margin: 0;
    padding: 0;
}

/* Styling for the body */
body {
    display: flex; /* Use Flexbox for layout */
    justify-content: flex-start; /* Align items horizontally */
    align-items: center; /* Align items vertically */
    flex-direction: column; /* Stack items vertically */
    height: 100vh; /* Full viewport height */
    background-color: #f5f5f5; /* Light grey background color */
}

/* Styling for the main heading */
h1 {
    font-weight: bold; /* Bold font */
    font-size: 70px; /* Large font size */
    color: #333333; /* Dark grey text color */
}

/* Container styling */
.container {
    margin-top: 200px; /* Margin to push the container down */
    background-color: white; /* White background color */
    display: flex; /* Use Flexbox for layout */
    flex-direction: column; /* Stack items vertically */
    padding: 40px 60px; /* Padding for inner spacing */
    border-radius: 16px; /* Rounded corners */
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); /* Subtle shadow */
    align-items: center; /* Center items horizontally */
}

/* Styling for input fields */
.input {
    padding-left: 70px; /* Left padding */
    padding-right: 70px; /* Right padding */
    padding-top: 12.5px; /* Top padding */
    padding-bottom: 12.5px; /* Bottom padding */
    border: 1px solid #f5f5f5; /* Light grey border */
    border-radius: 16px
}



